.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.book-img {
  max-width: 100px;
  height: auto;
  margin-right: 10px;
}
.book-card {
  margin: 10px;
  padding: 10px;
}
.book-link {
  text-decoration: none;
}
